// Navigation Styles here

.topnav{
    display:flex;
    justify-content:center;
    margin-left:150px;
    margin-right:148.5px;
    
    width:80%;
    border-bottom:2px dashed lightgrey;
    padding:20px;
    border-width:100%;
    

    h1{
        display:flex;
        width:40%;
        font-size: 5rem;
        margin-right:30px;
        margin-top:10px;

    }
    a{
        display:flex;
        padding:10px;
        font-size:1.8rem;
        margin-top:10px;
        
    }
}